{% extends 'base/base.html' %}
{% load static %}
{% block title %}Modulo Aulas{% endblock title %}

{% block body %}
 <div class="container">
          <div class="row">
              <div class="d-block">
              <h3 class="text-white">{{ modulo.nome | default:"nothing" }}</h3>

                  <dl class="text-light">
                     <dt>Descricao</dt>
                     <dd>{{ modulo.descricao }}</dd>
                  </dl>
              </div>
          </div>

          <div class="row">
            <div class="d-block">
              <h3 class="text-white"> Aulas </h3>
                  <ol class="text-white">
                  {% for aula in aulas %}
                    <li><a href="{{ aula.get_absolute_url }}">{{ aula.nome }} </a></li>

                  {% endfor %}
                  </ol>
            </div>
          </div>
 </div>
{% endblock %}
