.main-footer{
    background-color: #282a36;
}

.rights{
    background-color: #282a36;
}

body {
    background-color: #44475a;
}

.nav-bar-bg{
    background-color: #282a36;
    color: #f8f8f2;
    height: 75px;
}

.icsmp-navbar{
    display: flex;
    border-radius: 12%;
    color: lightblue;
    width: 6%;
    justify-content: center;
    background: #282a36;
    padding-left: 1%;
    font-family: "Helvetica Neue";
}
