{% extends 'base/base.html' %}
{% load static %}
{% block title %}teste{% endblock title %}

{% block body %}
 <div class="container">
          <div class="row">
              <div class="col">

                <form method="POST">
                    {% csrf_token %}
                    <label for="word">Digite uma palavra:</label>
                    <input id="word" type="text" name="palavra" value="" />
                    <input type="submit">
                    {% if count != None %}
                     <br><br>
                    Palavra digitada: {{palavra}}<br>
                    Número de caracteres: {{count}}
                    {% endif %}
                </form>
              </div>
          </div>
 </div>
{% endblock %}
